# Uncomment to run the tests against a different server entirely.
# DATABASE_HOST=127.0.0.1
# DATABASE_PORT=5432
# DATABASE_USERNAME=
# DATABASE_PASSWORD=
DATABASE_NAME=goapi_test
# DATABASE_SSL_MODE=disable
# DATABASE_TIMEZONE=UTC
